.background-image {
  background-image: url(work-space-area.webp);
  ;
  background-image: no-repeat;
  background-size: cover;
  width: auto;
}

.text-shadow {
  text-shadow: 2px 2px hotpink;
}

  {
  font-family: "Roboto Mono"
}

.map-section {
  min-height: 50vh;
  width: 100%;
}



.roboto {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.magic-card-wrapper {
  /* border: 3px hotpink dashed; */
  position: relative;
}

.magic-card {
  background-color: cornflowerblue;
  position: relative;

}

.cat-img {
  height: 700px;
}

@media (min-width: 769px) {

  .magic-card {
    background-color: hotpink;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px
  }



}